<%- include('head')%>
<div id="container" class="container">
  <%if(success){%>
  <div class="alert alert-success">
    <%=success%>
  </div>
  <%}%>
  <%if(error){%>
  <div class="alert alert-danger">
    <%=error%>
  </div>
  <%}%>
  <form class="well form-horizontal" method="post" action="/post">
    <fieldset>
      <div class="form-group">
            <label class="col-sm-2 control-label" for="comment">我有话说:</label>
          <div class="col-sm-8">
            <input type="text" id="comment" class="form-control" name="post" placeholder="想说啥就说话" >
          </div>
          <div class="col-sm-2">
            <button class="btn btn-default" type="submit"><span class='glyphicon glyphicon-comment' aria-hidden='true'></span> 发言</button>
          </div>
      </div>
    </fieldset>
  </form>
  <%posts.forEach(function(post,index){
  if(index % 3 == 0){%>
  <div class="row">
    <%}%>
    <div class="col-lg-4">
      <h2><a href="/u/<%=post.user%>"><%=post.user%></a> 说</h2>
      <p><small><%=post.time%></small></p>
      <p><%-post.post-%></p>
    </div>
    <%if(index%3==2){%>
  </div>
  <%}%>
  <%})%>
  <%if(posts.length % 3 != 0){%>
</div>
<%}%>
<nav>
  <ul class="pagination">
    <li class="disabled">
      <span>
        <span aria-hidden="true">&laquo;</span>
      </span>
    </li>
    <li class="active">
      <span>1 <span class="sr-only">(current)</span></span>
    </li>
    <li>
      <a href="#"><span>2 </span></a>
    </li>
    <li >
      <a href="#"><span>3 </span></a>
    </li>
    <li>
      <a href="#"><span>4 </span></a>
    </li>
    <li >
      <a href="#"><span>5 </span></a>
    </li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<%- include('foot')%>