<%- include('head')%>
<div id="container" class="container">
  <%if(success){%>
  <div class="alert alert-success">
    <%=success%>
  </div>
  <%}%>
  <%if(error){%>
  <div class="alert alert-danger">
    <%=error%>
  </div>
  <%}%>
  <form class="well form-horizontal" method="post" action="/post">
    <fieldset>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="comment">我有话说:</label>
        <div class="col-sm-8">
          <input type="text" id="comment" class="form-control" name="post" placeholder="想说啥就说话" >
        </div>
        <div class="col-sm-2">
          <button class="btn btn-default" type="submit"><span class='glyphicon glyphicon-comment' aria-hidden='true'></span> 发言</button>
        </div>
      </div>
    </fieldset>
  </form>
  <div class="text-right">
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a href="forum?pNo=1">1</a></li>
      <li><a href="forum?pNo=2">2</a></li>
      <li><a href="forum?pNo=3">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
  <div class="text-right"><ul id='pageControl'></ul></div>
  <%posts.posts.forEach(function(post,index){
  if(index % 3 == 0){%>
  <div class="row">
    <%}%>
    <div class="col-lg-4">
      <h2><a href="/u/<%=post.user%>"><%=post.user%></a> 说</h2>
      <p><small><%=post.time%></small></p>
      <p><%-post.post-%></p>
    </div>
    <%if(index%3==2){%>
  </div>
  <%}%>
  <%})%>
  <%if(posts.length % 3 != 0){%>
</div>
<%}%>
<nav class="navbar-right">
  <ul class="pagination">
    <li class="disabled">
      <span>
        <span aria-hidden="true">&laquo;</span>
      </span>
    </li>
    <li class="active">
      <span>1<span class="sr-only">(current)</span></span>
    </li>
    <li>
      <a href="#"><span>2</span></a>
    </li>
    <li >
      <a href="#"><span>3</span></a>
    </li>
    <li>
      <a href="#"><span>4</span></a>
    </li>
    <li >
      <a href="#"><span>5</span></a>
    </li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-paginator.min.js"></script>
<script type="text/javascript">
    var element = $('#pageControl');

    var options = {
        bootstrapMajorVersion:3,
        currentPage: <%=posts.pInfo.pNo%>,
        numberOfPages: 5,
        totalPages:<%=posts.pInfo.pCount%>,
        alignment:"center",
        pageUrl: function(type, page, current){
          return "forum?pNo="+page;
        }
    }

    element.bootstrapPaginator(options);
</script>
<%- include('foot')%>