
  <%- include('head')%>
  
  <div id="container" class="container">
    <%if(success){%>
      <div class="alert alert-success">
        <%=success%>
      </div>
    <%}%>
    <%if(error){%>
      <div class="alert alert-danger">
        <%=error%>
      </div>
    <%}%>
    <form class="well form-inline center" style="text-align:center;" method="post" action="/post"> 
      <input type="text" class="span8" name="post">
      <button class="btn btn-success" type="submit"><i class="icon-comment icon-white"></i>发言</button>
    </form>
    <%posts.forEach(function(post,index){
      if(index % 3 == 0){%>
      <div class="row">
    <%}%>
      <div class="span4">
        <h2><a href="/u/<%=post.user%>"><%=post.user%></a> 说</h2>
        <p><small><%=post.time%></small></p>
        <p><%=post.post%></p>
      </div>
    <%if(index%3==2){%>
      </div>
    <%}%>
    <%})%>
    <%if(posts.length % 3 != 0){%>
      </div>
    <%}%>
 
  <%- include('foot')%>
  
